@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #E0E0E0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 60px;
}

header #logo {
    width: 30px;
}

header main {
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
    align-items: center;
    width: 100%;
    max-width: 1100px;
}

header h3 {
    color: #333333;
    font-size: 20px;
}

nav {
    z-index: 1;
    background-color: #333333;
    width: 90%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -1000px;
    display: flex;
    flex-direction: column;
    transition-duration: 0.5s;

}

nav .modal {
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin: 20px;
    margin-bottom: 64px;
    cursor: pointer;

}

nav a {
    color: #FFFFFF;
    text-align: end;
    text-decoration: none;
    line-height: 32px;

}

nav a:hover {
    background-color: #C4C4C4;
    color: #333333;
}

nav.active {
    right: 0;
}




article {
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    padding: 0 5px;

}

section {
    width: 100%;
    display: flex;
}



section h3 {
    color: black;
    text-align: center;
    margin: 20px;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 0;
    border-bottom: #888888 1px solid;
}

form h3 {
    display: none
}

form div {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

form select,
form input,
form button {
    border-radius: 4px;
    height: 32px;
    color: #888888;
}

form select {
    height: 36px;
}


form label {
    margin: 5px 0;
}

form button {
    color: #ffff;
    background-color: #333333;
    margin: 20px 0;

}

#tabela {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#tabela div {
    display: flex;
    flex-direction: row;
    padding: 10px 2px;
}

#tabela .lista {
    border-bottom: 1px solid #888888;
    font-size: 14px;
}

#tabela .lista .valor {
    margin-left: auto;
}


#tabela .topBottom {
    font-weight: bold;
    justify-content: space-between;
    padding: 0 10px;
    font-size: 1em;
    border-bottom: 1px solid #888888;
}

#tabela .topBottom:last-child {
    border-top: 1px solid #888888;
    border-bottom: none;
    margin-top: 4px;
}

#tabela .topBottom #total {
    display: inline;
    padding: 0;
}

#tabela .topBottom #total div:last-child {
    font-size: 0.7em;
    margin-top: -15px;
    justify-content: end;
    font-weight: normal;
}







@media screen and (min-width: 412px) {
    header main {
        padding: 0 20px;
    }

    article {
        padding: 0 20px;
    }

    #tabela div {
        display: flex;
        flex-direction: row;
        padding: 10px;
    }


    #tabela .topBottom {
        padding: 0 10px 0 40px;
    }

    #tabela .lista {
        font-size: 16px;
    }

}



@media screen and (min-width: 768px) {


    nav {
        width: 252px;
    }

    form {
        border: #888888 1px solid;
        border-radius: 4px;
    }

    form h3 {
        display: block
    }

    form #formContainer {
        display: flex;
        flex-direction: row;
    }

    form div {
        margin: 0 10px;
    }

    form div:nth-child(2) {
        flex-grow: 1;
    }

    form button {
        width: 200px;
        margin-left: auto;
        margin-right: 20px;
    }
}



@media screen and (min-width: 1024px) {

    header {
        height: 80px;
    }

    header main {
        padding: 20px 0px;
        justify-content: stretch;
    }

    header h3 {
        margin-right: auto;
        margin-left: 20px;
    }

    header main svg {
        width: 50px;
    }

    main .modal {
        display: none;
    }

    main #logo {
        width: 40px;
    }


    nav {
        z-index: 0;
        background-color: white;
        width: auto;
        height: auto;
        position: initial;
        display: flex;
        flex-direction: row;
    }

    nav span {
        display: none;
    }

    nav a {
        color: #333333;
        padding: 0 10px;
        margin: 7px 0;


    }

    nav a:last-child {
        border-left: 1px solid #979797;
    }

    article {
        flex-direction: row;
        padding: 0;
    }

    section:last-child {
        padding-left: 20px;
    }

    form {
        padding: 20px;
    }

    form #formContainer {
        flex-direction: column;
    }

    form div {
        margin: 0;
    }


    form button {
        width: 100%;
    }
}